.navbar-dark .navbar-nav .nav-link {
  color: #D4AF37;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff; 
  text-decoration: underline; 
}

.navbar-dark .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #ffffff;
}
.carousel-control-prev-icon, 
.carousel-control-next-icon {
    background-color: #D4AF37;
    border-radius: 50%;
}

.custom-alert {
  background-color: #D4AF37;
  color: #000; 
  border: none;
}
.dropdown-menu-dark .dropdown-item:hover {
  background-color: #D4AF37;
  color: black;
}
.sidebar-link {
  color: #D4AF37;
  font-weight: 500;
}

.sidebar-link:hover {
  color: #ffffff;
  text-decoration: underline;
}
[id] {
  scroll-margin-top: 250px; 
}

.table thead th {
  background-color: #212529;
  color: #D4AF37;
}